# Application configuration
APP_PORT=3131
CORS_ORIGINS=

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=moneykeeper_v1

# Firebase configuration
FIREBASE_SERVICE_ACCOUNT_PATH="firebase-service-account.json"

# Default admin configuration
DEFAULT_ADMIN_EMAIL=